@import "../src/stylesheets/components/entry_form.scss";

body, html {
  margin: 0;
  font-size: 14px;
  font-family: Geneva, Verdana, sans-serif;
}

.flash {
  text-align: center;
  padding: 1rem 5px;
  &.alert {
    background-color: #ffcece;
    color: #670000;
  }
  &.notice {
    background-color: #c9fdc4;
    color: #144800;
  }
}

.btn, .add_fields {
  display: inline-block;
  padding: 5px 9px;
  line-height: 1.4;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  background-color: #fdfdfd;
}